:root {
  --border-radius: 9px;
  --color-bg__main: #072c51;
  --color__main: #f4f4f4;
  --color__second: #d7d1d1;
  --color-accent__main: rgba(217, 0, 255, 0.859);
  --color-accent__second: rgba(0, 255, 132, 0.781);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after { margin: 0; padding: 0; }

* { font-family: 'Poppins', sans-serif; }

html {
  scroll-behavior: smooth;
}

body { 
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg__main);
  
  text-align: center;  
  background-image: url("/images/photos/pexels-photo-8271359.webp");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: clamp(3.2rem, 6vw, 7rem);
  color: var(--color-accent__main);
  line-height: 1.0em;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgb(243, 215, 244);
  filter: drop-shadow(0 0 30px rgba(148, 154, 137, 0.905));
}

h2 {
  font-size: clamp(1.5rem, 1.8vw, 2.1rem);
  color: var(--color__second);
  font-weight: 600;    
  margin-top: 0.3em;
}

h3 {
  font-size: clamp(1.7em, 0.9vw, 1.8rem);
  color: var(--color__second);
}

p, 
li {
  font-size: clamp(1.3rem, 1.0vw, 1.5rem);
  color: var(--color__second);
  line-height: 1.4em;
}

ul { list-style-type: none; }

li strong { color: var(--color-accent__second); }

a:link,
a:visited {
  color: var(--color__main);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.parent-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 5vh;  
}

footer { 
  margin-top: 1.1rem;
  color: var(--color__second);
}

footer img {
  width: 40px;
  display: block;
  aspect-ratio: 1/1;
  filter: invert(1);
  margin: 0 auto;
  border: 0;
  margin-bottom: 2px;
}

footer p {
  font-size: clamp(1.0rem, 1.1vw, 1.2rem);    
  text-align: center;
  margin: 0 auto;
}

#mozarts-ghost {
  position: fixed;
  opacity: 1;
  bottom: 0;
  left: 10px;
  padding: 10px;
}

#mozarts-ghost a:link,
#mozarts-ghost a:visited {
  color: rgb(164, 164, 235);
  text-decoration: none;
}

#mozarts-ghost a:hover {
  color: rgb(195, 0, 255);
}

.button-effect { 
  display: block;
  transform: scale(1.0);
  transition: transform 0.43s ease-in-out;
}

.button-effect:hover {
  transform: scale(1.23);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.761));
}

.header-emoji { 
  font-size: 10rem;
}

section > nav {
  margin: 3rem 0rem;
}


