* { text-align: center; }

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
}

h1 { 
  font-size: 10rem;
  transform: scale(1.0);
  transition: transform 0.23s ease-in-out;
}

h1:hover {
  transform: scale(1.13);
  filter: drop-shadow(0 0 10px rgba(3, 247, 56, 0.319));
}

h1 a:link { 
  text-decoration: none;
}

footer > p { color: #77777776; }